* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  #007bff;
    background-size: cover;
    background-position: center;

}

.alpha {
    width: 420px;
    background: transparent;
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
}

.Mot{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px;
}

.Mot input {
    width: 85%;
    height: 85%;
    background: transparent;
    border: none;
    outline: none;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    font-size: 16px;
    color: #333;
    padding: 0px 45px 0px 20px;
    outline: none;
}

.btn {
    width: 50%;
    padding: 10px;
    margin: 102px;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

.mdp {
    justify-content: center;
    

}




