* {
    font-family: poppins;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./img);
    background-position: center;
    background-size: cover;

}

form {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    backdrop-filter: blur(3px);
    background: transparent;

}

h1 {
    font-size: 35px;
    margin: 25px;
    align-items: center;
    height: 50px;
    color: #fff;
    justify-content: center;

}

