canvas {
    border: 2px solid black;
    background: #eee;
    display: block;
    margin: 20px auto;
    width: 400;
    height: 400;

}

h1 {
    text-align: center;
    font-family: poppins;
    color: aquamarine;

}